{% extends 'base.html' %}

{% block title %}
Edit your post!
{% endblock title %}


{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}


{% if current_user.is_authenticated and current_user.id == post.post_author.id %}
<h1 class="my-5">Edit your post</h1>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.title.label }}
        {{ form.title(class='form-control') }}
        {{ form.slug.label }}
        {{ form.slug(class='form-control') }}
        {{ form.content.label }}
        {{ form.content(class='form-control', rows="5") }}
        {{ form.author.label }}
        {{ form.author(class='form-control') }}
        <br>
        {{ form.submit(class='btn btn-secondary btn-sm') }}
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content')}}
</div>
{% else %}
<p class="my-5">Sorry, you can't edith this post</p>
{% endif %}


{% endblock content %}