{% extends 'base.html' %}

{% block title %}
Update User
{% endblock title %}


{% block content %}
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="/user/update/{{ user.id }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label('Update your name',class='form-label') }}
        {{ form.name(class='form-control', value=user.name) }}
        {{ form.email.label('Update your email',class='form-label') }}
        {{ form.email(class='form-control', value=user.email) }}
        {{ form.favorite_color.label('Update your favorite color',class='form-label') }}
        {{ form.favorite_color(class='form-control', value=user.favorite_color) }}
        <br>
        {{ form.submit(class='btn btn-secondary btn-sm') }}
        <a href="{{ url_for('confirmation_delete', id=user.id) }}" class="btn btn-danger btn-sm">Delete</a>
    </form>
</div>
{% endblock content %}